/* ======================
HEADER STICKY
====================== */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

/* ======================
TOPBAR
====================== */

.topbar {
  background: #004a80;
  color: white;
  font-size: 14px;
}

.topContainer {
  max-width: 1200px;
  margin: auto;
  padding: 8px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  gap: 25px;
}

.info span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.socials {
  display: flex;
  gap: 16px;
}

.socials a {
  font-size: 18px;
  color: #ffffff;
  transition: 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials a:hover {
  color: #f7c600;
}

/* ======================
NAVBAR
====================== */

.navbar {
  background: #ffffff;
  border-bottom: 1px solid #eaeaea;
}

.navContainer {
  max-width: 1200px;
  margin: auto;
  padding: 18px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */

.logo {
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  color: #004a80;
}

.logo span {
  color: #5eb3e4;
}

/* NAV */

.nav {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: 0.25s;
}

.nav a:hover {
  color: #004a80;
}

/* CTA */

.cta {
  background: #f7c600;
  padding: 8px 18px;
  border-radius: 20px;
  font-weight: 600;
}

.cta:hover {
  background: #c4911a;
}

/* ======================
HAMBURGER
====================== */

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #004a80;
}

/* ======================
MOBILE
====================== */

@media (max-width: 900px) {
  .info {
    display: none;
  }

  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    background: white;
    flex-direction: column;
    padding: 30px;
    gap: 20px;

    transform: translateY(-150%);
    transition: 0.3s;
  }

  .active {
    transform: translateY(0);
  }

  .hamburger {
    display: flex;
  }
}
