.hero {
  position: relative;
  min-height: 90vh;
  display: flex;
  align-items: center;
  padding: 0 80px;

  background-image: url("/foto-grupal.jpg");
  background-size: cover;
  background-position: center 43%;
}

/* Overlay */

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 74, 128, 0.85) 45%,
    rgba(0, 0, 0, 0.55) 100%
  );
}

/* Contenido */

.content {
  position: relative;
  z-index: 2;
  max-width: 650px;
  color: #ffffff;
}

/* Titulo */

.title {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #ffffff;
}

/* Subtitulo */

.subtitle {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 35px;
  color: #e0e0e0;
}

/* Botones */

.buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

/* Boton principal */

.primaryBtn {
  background: #004a80;
  color: #ffffff;
  padding: 14px 26px;
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.primaryBtn:hover {
  background: #5eb3e4;
  color: #000;
}

/* Boton secundario */

.secondaryBtn {
  border: 2px solid #f7c600;
  color: #f7c600;
  padding: 14px 26px;
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.secondaryBtn:hover {
  background: #c4911a;
  border-color: #c4911a;
  color: #ffffff;
}

.seoText {
  position: absolute;
  left: -9999px;
}

/* ========================= */
/* TABLET */
/* ========================= */

@media (max-width: 1024px) {
  .hero {
    padding: 0 50px;
    min-height: 85vh;
  }

  .title {
    font-size: 42px;
  }

  .subtitle {
    font-size: 17px;
  }
}

/* ========================= */
/* MOBILE */
/* ========================= */

@media (max-width: 768px) {
  .hero {
    padding: 0 25px;
    min-height: 80vh;
    background-position: center;
  }

  .content {
    max-width: 100%;
  }

  .title {
    font-size: 34px;
  }

  .subtitle {
    font-size: 16px;
    margin-bottom: 25px;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .primaryBtn,
  .secondaryBtn {
    width: 90%;
    text-align: center;
  }
}

/* ========================= */
/* SMALL MOBILE */
/* ========================= */

@media (max-width: 480px) {
  .hero {
    padding: 0 20px;
    min-height: 75vh;
  }

  .title {
    font-size: 28px;
    line-height: 1.25;
  }

  .subtitle {
    font-size: 15px;
  }

  .buttons {
    gap: 40px;
  }
}
