/* NAVBAR */

.navbar {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #eaeaea;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* CONTAINER */

.container {
  max-width: 1200px;
  margin: auto;
  padding: 18px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #004a80;
  text-decoration: none;
}

.logo span {
  color: #5eb3e4;
}

/* NAV LINKS */

.nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: 0.25s;
}

.nav a:hover {
  color: #5eb3e4;
}

/* CTA BUTTON */

.cta {
  background: #f7c600;
  color: #000 !important;
  padding: 8px 18px;
  border-radius: 20px;
  font-weight: 600;
}

.cta:hover {
  background: #c4911a;
}

/* HAMBURGER */

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #004a80;
}

/* MOBILE */

@media (max-width: 900px) {
  .nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;

    background: #ffffff;
    flex-direction: column;
    gap: 20px;
    padding: 30px;

    transform: translateY(-200%);
    transition: 0.3s ease;
  }

  .active {
    transform: translateY(0);
  }

  .hamburger {
    display: flex;
  }
}
